# Datentypen können geändert werden, dies nennt man auch *type conversion*, *type casting* oder kurz *cast*, mit dem casten wandeln wir einen Datentypen in einen anderen Datentypen um sofern die Typen Kompatible sind.

### String -> Int

In [20]:
string = "2"

In [23]:
type(string)

str

In [17]:
number = int(string)

In [19]:
type(number)

int

### Int -> String

In [24]:
integer = 4

In [25]:
type(integer)

int

In [26]:
new_string = str(integer)

In [27]:
type(new_string)

str

### Float -> Int

In [62]:
my_float = 3.14156

In [63]:
int(my_float)

3

In [64]:
float(my_float)

3.14156

### Int -> Float

In [67]:
float(3)

3.0

### Fehler !

In [40]:
string = "2a"

In [41]:
type(string)

str

In [43]:
new_integer = int(string)

ValueError: invalid literal for int() with base 10: '2a'

In [44]:
my_float_string = "3.1"

In [47]:
new_float = int(my_float_string)

ValueError: invalid literal for int() with base 10: '3.1'